*{
margin: 0px;
padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
}
.header-container{

}
.logo-header{

}
.barnav{

}
.lista-navegacio{

}
.main-container{

}
.aside-container{

}
.redes-sociales{

}
.section-container{

}
.container-articulos{

}
.titulo-principal{

}
.container-article{

}
.box-article{

}
.ver-mas{

}
.footer-container{

}
.logo{

}
.contacto{

}
.fuente{

}
.copy-container{
    
}